#wrapper {
    display: inline-flex;
    width: 100%;
    background-image: linear-gradient(to right,white, rgb(218, 188, 126),rgb(250, 240, 230),rgb(250, 240, 230),rgb(250, 240, 230),rgb(250, 240, 230),rgb(218, 188, 126),white);
}
@media screen and (max-width: 950px){
    #wrapper{
        background-image: linear-gradient(to right, rgb(250, 240, 230), white,rgb(250, 240, 230));
    }
}
.videocontainer{
    position: relative;
    text-align: center;
    z-index: 1;
    max-width: 66%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.video{
    z-index: 1;
    height: auto;
    width: 95.6%;
    position: absolute;
    align-items: center;
    top: 0;
    left: 2.6%;
    margin-left: auto;
    margin-right: auto;
}
#content {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}
html,body {
   width:100%;
    height:100%;
}
.blue{
background-color: royalblue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.sepia{
    background-color:linen;
}
.myheader{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 55vw;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;

}
@media screen and (max-width: 575px){
    .myheader{
        flex-direction: column;
        height: 30vw;
    }
}
@media screen and (min-width:950px){
    .myheader{
        height: 522px;
    }
}
.boxheight{
    height: 33%;
}
.buttonwide{
    width: 100%;
    border: grey;
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 0%;    
}
.buttonwide:hover{
    background-color: mediumpurple;
    box-shadow: chocolate;
    
}
.centerbuttonwide{
    position: absolute;
    left: 1.8%;
    width: 97.5%;
    border: grey;
    border-style: solid;
    border-width: 0.8vw;
    border-radius: 6%; 
    z-index: 5;   
}
.centerbuttonwide:hover{
    background-color: mediumpurple;
    box-shadow: chocolate;
}
.buttonheight{
    height: 20%;
}
.smallbuttonheight{
    height: 100%;
}
.tuck{
    z-index: 5;
}

.myborder{
    border: black;
    border-width: 5px;
}
.topright{
    display: block;
    text-align: center;
}
@media screen and (max-width: 575px){
    .topright{
        display: none;
    }
}
.smallmenu{
    display: none;

}
@media screen and (max-width: 575px){
    .smallmenu{
        display: flex;
        width: 100%;
        height: 10vw;
        text-align: center;
        text-size-adjust: auto;
    }
}
.topleft{
    z-index: 5;
}
.overlaid{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}
.spacer{
    height: 6vw;
}
@media screen and (min-widht:950px){
    .spacer{
        height: 57px;
    }
}
.circle{
    z-index: 7;
    height: 30vw;
    width: 30vw;
    margin: 0 auto;
    border: black;
    border-style: dashed;
    border-width: 7px;
    border-radius: 50%;
    background-image: radial-gradient(WHITE,white,white,white,grey,black);

}

@media screen and (min-width: 950px){
    .circle{
        height: 285px;
        width: 285px;
    }
}
.mycontainer{
    margin-left: auto;
    margin-right: auto;
}
.hiddencircle{
z-index: 1;
}
.hiddencircle:hover{
    z-index: 10;
}
.notactuallyphotobox{
    display: flexbox;
    align-items: center;
    height: 66%;
}
.col-sm-9{
    padding-right: 0;
}
@media screen and (max-width: 575px){
    .col-sm-9{
        padding-left: 0;
    }
}
.buttonpad{
    padding-right: 2%;
}
#vidhandle{
    align-items: center;
    
}